#c {
    display: inline-block;
}

.sec1 {

    display: inline-block;
    margin: 20px;
    width: 100px;
    margin-bottom: 20px;
}


.sec2 {
    display: inline-block;
    
    margin-left: 130px;
    width: 50px;
    position: relative;
    display: inline-block;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
}

#gameArea{
    display: inline-block;
    margin: 20px;
    width: 1300px;
    height: 400px;
    margin-bottom: 20px;
}

#form1 {
    width: 300px;
   float: right;
    margin: 5%;
    margin-right: 10px;
}

#start{
    float: center;
    width: 150px;
    height: 50px;
}

#start:hover{
    background-color: brown;
}

#stocking{
    width: 500px;
    height: 100px;
    float: left;
    align-items: center;
}

/* #counter{
    vertical-align: middle;
} */

.canvas{
 color: rgb(44, 44, 44);   
}



#bread{
    
    height: 50px;
    width: 50px;
     background: orange;
     border-color: black;
    border-style: groove;
}
#meterB {
    position: absolute;
    bottom: 1;
    width: 40px;
    height: 20px;
    margin-top: 25px;
    margin-left: -33px;
}
#tomato{
    height: 50px;
    width: 50px;
    background: red;
    border-color: black;
    border-style: groove;
}
#meterT {
    position: absolute;
    bottom: 1;
    width: 40px;
    height: 20px;
    margin-top: 25px;
    margin-left: -44px;
}
#lettuce{
    height: 50px;
    width: 50px;
    background: greenyellow;
    border-color: black;
    border-style: groove;
}
#meterL {
    position: absolute;
    bottom: 1;
    width: 40px;
    height: 20px;
    margin-top: 25px;
    margin-left: -44px;
}

#onion{
    height: 50px;
    width: 50px;
    background: purple;
    border-color: black;
    border-style: groove;
}
#meterO {
    position: absolute;
    bottom: 1;
    width: 40px;
    height: 20px;
    margin-top: 25px;
    margin-left: -35px;
    transition: 3s;
}

#meat{
    height: 50px;
    width: 50px;
    background: brown;
    border-color: black;
    border-style: groove;
}
#meterM {
    position: absolute;
    bottom: 1;
    width: 40px;
    height: 20px;
    margin-top: 25px;
    margin-left: -30px;
    transition: 3s;
}


#breadStock{
    height: 100px;
    width: 100px;
    background: orange;
    border-color: black;
    border-style: groove;
}
#stockMeterB{
    position: absolute;
    bottom: 1;
    width: 80px;
    height: 40px;
    margin-top: 25px;
    margin-left: -30px;
}

#tomatoStock{
    height: 100px;
    width: 100px;
    background: red;
    border-color: black;
    border-style: groove;
}
#stockMeterT{
    position: absolute;
    bottom: 1;
    width: 80px;
    height: 40px;
    margin-top: 25px;
    margin-left: -40px;
}

#lettuceStock{
    height: 100px;
    width: 100px;
    border-color: black;
    border-style: groove;
    background: greenyellow;
}
#stockMeterL{
    position: absolute;
    bottom: 1;
    width: 80px;
    height: 40px;
    margin-top: 25px;
    margin-left: -40px;
}

#onionStock{
    height: 100px;
    width: 100px;
    border-color: black;
    border-style: groove;
    background: purple;
}
#stockMeterO{
    position: absolute;
    bottom: 1;
    width: 80px;
    height: 40px;
    margin-top: 25px;
    margin-left: -30px;
}

#meatStock{
    height: 100px;
    width: 100px;
    border-color: black;
    border-style: groove;
    background: brown;
}

#stockMeterM{
    position: absolute;
    bottom: 1;
    width: 80px;
    height: 40px;
    margin-top: 25px;
    margin-left: -25px;
}

button:hover{
 background-color: black;
 color: aliceblue;
}